.navbar {
	margin-bottom: 50px;
	border-radius: 0;
}
    
/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
    margin-bottom: 0;
}
   
/* Add a gray background color and some padding to the footer */
.footer {
    background-color: black;
    padding: 25px;
}

.fa {
  	padding: 20px;
  	font-size: 30px;
  	width: 50px;
  	text-align: center;
  	text-decoration: none;
  	margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

@media screen and (max-device-width: 500px){
	.jumbotron img{
		margin-left:50px;
	}
}
